@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    margin:0;
    padding:0;
}
.followers{
    width: 90%;
    margin:20px auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}
.youtube-insta-dribble-single{
    width: 30%;
    padding:10px;
    margin:2%;
    text-align: center;

}
.flex-container{
    display: flex;   
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding:0 2%;
}
.half-width img{
    width: 100%;
}
.half-width h1{
    font-size: 40px;
}
span{
    color: orange;
}
.btn{
    padding:14px 40px;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, tomato);
    border-radius: 30px;
    margin-top: 20px;
    display: inline-block;
}
.about-me-bg{
    background-image: url(images/shapes/about-me-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.section-title{
    text-align: center;
    width:60%;
    margin: 0 auto;
}
.menu-item{
    display: flex;
}

.menu-item-single img{
    width: 100%;
}
.menu-item-single h2{
    text-align: center;
}
.menu-item-single{
    width:25%;
    padding:10px;
    margin:5%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}

footer{
    text-align: center;
    background-color: black;
    min-height: 50px;
    color:white;
    padding:50px;
}